h3{
    font-size:3rem;
    font-weight:bold;
    color:#c68307;
}

.s_event_calendar {
    width: 100%; /* You can also set a fixed width like '1000px' if you prefer */
    max-width: 100%;  /* Ensure it doesn't overflow the screen */
}

.fc-day.fc-day-today {
    background-color: #f0f8ff; /* Light blue for today's column */
}

.fc-event {
    background-color: #ff6347; /* Custom event background color */
    color: white;  /* Text color */
}

/* If you want to apply specific styles to events in a specific range or with specific classes */
.fc-event.start-to-end {
    background-color: #8a2be2;
}

.s_event_calendar {
    margin-right: initial;
}

.s_event_calendar_list .row {
    display: flex;
    justify-content: center;  /* Align items horizontally in the center */
    align-items: center;  /* Align items vertically in the center */
}

/* Ensure the calendar itself is centered */
.s_event_calendar_list .col-md-6,
.s_event_calendar_list .col-lg-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fc .fc-daygrid-day.fc-day-today{
    background-color: #efc085 !important;
}

.s_event_calendar_list {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.fc-scroller {
    overflow: hidden !important;
}

.fc-daygrid-body {
    overflow: hidden !important;
}

.s_event_calendar {
    height: 31rem;
}
